.hero {
  position: relative;
  min-height: 550px;
  overflow: hidden;

  .grid-container {
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  &__slider {

    .hero-slide {
      position: relative;
      z-index: 1 !important;
      overflow: hidden;

      &-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
      }

      &-content {
        position: relative;
        height: 50%;
        color: $white;
        padding-top: 40px;
        text-align: center;

        .grid-container {
          width: 100%;
        }

        h3 {
          font-weight: bold;


          text-transform: uppercase;
          text-align: center;



        }
        .wedding{
          color: white;
          text-align: right;
        }
        .fs{
          color: black;
          text-align: right;
        }
        .gc{
          color: white;
          text-align: left;
        }

        p {
          color: $white;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .slick-track,
    .hero-slide {
      min-height: 550px;
    }

    .slick-slide {
      position: relative;

      //&:before {
      //  position: absolute;
      //  left: 0;
      //  top: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: rgba(255,255,255,.6);
      //  z-index: 9;
      //  content: ' ';
      //}
    }

    .slick-active {
      &:before {
        display: none;
      }
    }

    &__arrows {
      position: absolute;
      bottom:50%;
      width: 100%;
      height: 34px;
    }
  }

}

