
.logo {
  align-items: center;
  text-align: center;

  img {
    width: 150px;
    max-width: 100%;
  }
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 15px 0;
  background-color: #ffff4d;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


  &__nav {
    justify-content: space-between;
  }


  &__hamburger {
    width: 25px;
    height: 18px;
    display: block;
    position: relative;
    float: right;

    .line {
      display: block;
      background: get-color('primary');
      height: 3px;
      width: 100%;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0;
    }

    .line-2 {
      top: 7px;
    }

    .line-3 {
      top: 14px;
    }
  }

  &__menu {
    display: none;
  }

  ul {
    li {
      .secondary {
        display: none;
      }

      &:hover {
        .secondary {
          display: block;
          position: absolute;
          background-color: #ffff4d;
          padding-bottom: 10px;
          list-style: none;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
        }
      }
    }
  }

  a {
    text-transform: uppercase;
    font-width: 800;

    &:hover {
      color: #ff6600;
    }
  }


  @include breakpoint(large) {

    &__hamburger {
      display: none;
    }

    &__menu {
      display: block;

      ul {
        margin: 0;

        li {
          list-style: none;

        }
      }
    }
  }
}
